@font-face{                               
  font-family:'Montserrat';
  font-weight: 400;
  src: url('../fonts/montserrat-400.woff') format('woff');                
} 
@font-face{                               
  font-family:'Montserrat';
  font-weight: 700;
  src: url('../fonts/montserrat-700.woff') format('woff');                
} 
@font-face{                               
  font-family:'Roboto';
  font-weight: 300;
  src: url('../fonts/roboto-300.woff') format('woff');                
}
@font-face{                               
  font-family:'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-400.woff') format('woff');                
}
@font-face{                               
  font-family:'Kaushan Script';
  font-weight: 400;
  src: url('../fonts/kaushan-script-400.woff') format('woff');                
}