$color-logo: #ffffff;                                    /* HEDER */
$color-meny: #ffffff; 
$color-meny-activ:#fce38a;
$color-header-title: #ffffff; 
$color-header-subtitle: #ffffff;  
$color-header-booton: #ffffff;
$color-header-booton-border: #ffffff;
$color-header-booton-activ:  #000000; 

$fonts-logo: 30px;
$fonts-heder-title: 72px; 
$fonts-heder-subtitle: 150px;
$fonts-heder-meny: 14px;
$fonts-heder-booton: 14px;
