$color-caption-text: #333333;                            /* SECTION-1 */
$color-caption-after: #f38181;
$color-list-img: #95e1d3;
$color-list-title: #333333;
$color-list-text: #a8a8a8;

$fonts-caption: 30px;
$fonts-caption-text: 24px;
$fonts-list-title: 14px;
$fonts-list-text: 15px;
