$color-section-cards__quote: #999999;                      /* SECTION-2 */
$color-cards__wrap: #95e1d3;
$color-cards__link: #fce38a;
$color-cards__link--active: #95e1d3; 
$color-cards__icon: #f38181;
$color-cards__icon--active: #ffffff; 
$color-cards__title: #333333;
$color-cards__text: #a8a8a8;

$fonts-section-cards__quote: 15px;
$fonts-cards__title: 14px;
$fonts-cards__text: 15px;